<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>

  <form action="/user/buy/<%= dataUser.id %>" method="POST">
    <!-- dataUser -->
    <!-- <div>
      <label for="user_id">Username</label>
      <input type="text" name="user_id" id="user_id" value="<%= dataUser.id %>">
    </div> -->

    <!-- dataProduct -->
    <div>
      <label for="product_id">Product</label>
      <select name="product_id" id="product_id">
        <option disabled selected>-- Please Select --</option>
        <% for(let i = 0; i < dataProduct.length; i++) { %>
        <option value="<%= dataProduct.id %>"><%= dataProduct.name %></option>
        <% } %>
      </select>
    </div>

    <div>
      <label for="product_qty">Quantity</label>
      <input type="number" name="product_qty" id="product_qty">
    </div>

    <div>
      <button type="submit">Buy</button>
    </div>
  </form>

</body>

</html>