<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>

<body>
  <!-- Transaksi nama barang , total -->
  <table>
    <thead>
      <tr>
        <th>Nama Barang</th>
        <th>Total Pembelian</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < dataTransaction.length; i++) { %> 
      <tr>
        <td><%= dataTransaction[i].Product.getFullname %></td>
        <td><%= dataTransaction[i].total %></td>
        <td>
          <a href="/user/checkout/edit/<%= dataTransaction[i].id %>">Edit</a>
          <a href="/user/checkout/delete/<%= dataTransaction[i].id %>">Delete</a>
        </td>
      </tr>
      <% } %>
    </tbody>

  </table>
</body>

</html>